mat-card {
  max-width: 350px;
  margin: auto;
}
.example-form {
  display: flex;
  flex-direction: column;
}

.example-full-width {
  width: 100%;
}

button {
  max-width: 120px;
}
mat-spinner {
  margin: auto;
}
