<mat-spinner *ngIf="isLoading"></mat-spinner>
<form [formGroup]="postAddForm" class="example-form" *ngIf="!isLoading" (submit)="onAddPost()">
  <mat-form-field class="example-full-width">
    <input matInput formControlName="title" placeholder="Post Title">
    <mat-error *ngIf="postAddForm.get('title').invalid">Invalid title</mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput formControlName="content" placeholder="Post Content"></textarea>
    <mat-error *ngIf="postAddForm.get('content').invalid">Invalid content</mat-error>
  </mat-form-field>

  <div class="file-picker-container">
    <!-- <button type="button" (click)="fileInput.click()" mat-stroked-button>Pick an Image</button> -->
    <input type="file" #fileInput (change)="onImageSelected($event)">
  </div>
  <div *ngIf="imagePreview && postAddForm.get('image').valid" class="img-preview-container">
    <img [src]="imagePreview" [alt]="postAddForm.value.title">
  </div>
  <mat-divider></mat-divider>
  <hr>
  <button type="submit" mat-raised-button color="warn">{{ isEdit ? 'UPDATE' : 'CREATE'}} POST</button>
</form>
