<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-accordion *ngIf="posts.length > 0 && !isLoading; else noPosts">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{post.title}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p>{{post.content}}</p>
    <mat-action-row>
      <button mat-stroked-button color="primary" (click)="onEdit(post.id)">EDIT</button>
      <button mat-stroked-button color="warn" (click)="onDelete(post.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<ng-template #noPosts>
  <p>No post available</p>
</ng-template>
